/* Start Variables */
:root {
  --main-color--: #10cab7 ;
  --section-padding--:60px ;
  --section-background--:#f6f6f6 ;
  --secondary-color--: #2c4755 ;
}
/* End Variables */


/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
   /* these next 4 lines are for when everything is removed except the header and the footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
/* Medium */
@media (min-width: 992px) {
   .container {
      width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
   .container {
      width: 1170px;
    }
}
/* End Global Rules */

/* start component */
  .special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
    letter-spacing: -3px;
    text-align: center;
  }
  .special-heading + p {
    color: #777;
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
  }
  @media (max-width:767px) {
    .special-heading {
      font-size: 60px;
    }

    .special-heading + p {
      margin: -20px 0 0;
    }
  }
/* end componenet */

/* start header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  /* I noticed that display: flex ruins the aspect ratio of the height of an image.
     but align-items:center or end or start corrects the height.
     also paddings top and bottom can fix it. */
}
header .logo {
  width: 60px;
}
header .links {
  position: relative;
}
header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .icon span {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #333;
}
header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  display: none;
  z-index: 1; /* otherwise the list is covered up with the landing section */
}
header .links ul::after {
  content: "";
  position: absolute;
  background-color: transparent;
  border: 10px solid transparent; 
  top: -20px; right: 5px; 
  border-bottom: 10px solid #f6f6f6;
}
header .links:hover ul {
  display: block;
}
header .links ul a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 15px;
  transition: 0.3s;
}
header .links ul a:hover {
  margin-left: 5px;
}
header .links ul a:not(ul li:last-child a) {
  border-bottom: 1px solid #ddd;
}
/* end header */

/* start landing section */
section.landing {
  background-image: url(../images/black-and-white-mountains.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
  max-width: 100%; /* this prevents the sides of the div from ever disappearing when the screen gets smaller */
}
.landing .intro-text h1 {
  color: var(--main-color--);
  font-weight: bold;
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* end landing section */

/* start features */
.features {
  padding-top: var(--section-padding--);
  padding-bottom: var(--section-padding--);
  background-color: var(--section-background--);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  display: block;
  font-size: 40px;
  color: var(--main-color--);
}
.features h3 {
  display: block;
  font-weight:800 ;
}
.features p {
  font-size: 19px;
  line-height: 1.8;
  color: #777;
  height: 100px;
  overflow: hidden;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
/* end features */

/* start services */
.services {
  padding-top: var(--section-padding--);
  padding-bottom: var(--section-padding--);
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .serv {
  display: flex;
  height: 232px;
}
@media (max-width: 767px) {
  .services .serv{
    flex-direction: column;
    text-align: center;
  }
}
.services .serv i {
  color: var(--main-color--);
  flex-basis: 60px;
  /* flex-basis because when the flex direction is set to column -is in the media- it will work as height instead of width */
}
.serv .text {
  flex-grow: 1;
  flex-basis: 0%;
  /* it is zero because the actual width is taken from the flex-grow:1 but you can specify it and remove flex-grow but is better like this */
  /* you can also just use flex:1; to account for both the flex-grow:1; and flex-basis:0%; */
  /* giving this second child in the flex box a flex basis properity was important to make it work in the first child */
  /* actully giving normal width would work aswell but you need to count for the accurate width when media cicks in */
  /* also the flex basis will work in the first child with flex-wrap:wrap as the reason for it not working is that 
  the auto width of the othe flex child is taking priority */
}
.serv h3 {
  margin-top: 0;
}
.serv p {
  color: #444;
  line-height: 1.8;
  font-weight: 300;
}
.services img {
  width: 70%;
}
.services .image {
  position: relative;
  text-align: center;
}
.services .image::after {
content: "";
position: absolute;
right: 0; top:-40px;
width: 100px;
height: calc(100% + 80px);
background-color: var(--secondary-color--);
z-index: -1;
}
@media (max-width: 1199px) {
  .services .col:last-child {
    display: none;
  }
 /* I noticed after I made the div disappear that there is an empty grid column which disappeard after I increased the gap value */
}
/* end services */

/* start portfolio */
.portfolio {
  padding-top: var(--section-padding--);
  padding-bottom: var(--section-padding--);
  background-color: var(--section-background--);
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.portfolio-content .card {
  background-color: white;
}
.portfolio img {
  max-width: 100%;
}
.portfolio-content .info {
  padding: 20px;
}
.portfolio-content h3 {
  margin: 0;
}
.portfolio-content p {
  color: #777;
  line-height: 1.8;
}
/* end portfolio */

/* start about */
.about {
  padding-top: var(--section-padding--);
  padding-bottom: var(--section-padding--);
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
@media (max-width:991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about-content .image {
  height: 375px;
  width: 250px;
  position: relative;
}
@media (max-width:991px) {
  .about-content .image {
    align-self: center;
    margin-bottom: 60px;
    /* or margin:0 0 60px; instead of the previous two properties */
  }
}
.about-content img {
  max-width: 100%;
}
.about-content .image::before {
  content: "";
  position: absolute;
  top: -40px; left: -20px;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  z-index: -1;
}
.about-content .image::after {
  content: "";
  position: absolute;
  top: -35px; right: -155px;
  width: 50%;
  height: calc(100% - 80px);
  border-left: 80px solid var(--main-color--);
  border-bottom: 80px solid var(--main-color--);
  z-index: -1;
}
@media (max-width:991px) {
  .about-content .image::before,
  .about-content .image::after {
    display: none;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about-content .text p:first-child {
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 50px;
}
.about-content .text hr {
  width: 50%;
  display: inline-block; /* or margin-left: 0; as the objective is to move it to the far left */
  border-color: var(--main-color--);
}
.about-content .text p:last-child {
  line-height: 1.8;
  color: #777;
}
/* end about */

/* start contact */
.contact {
  padding-top: var(--section-padding--);
  padding-bottom: var(--section-padding--);
  background-color: var(--section-background--);
}
.contact-content {
  padding-top: 60px;
  padding-bottom:60px ;
  text-align: center;
}
.contact-content p {
color: var(--secondary-color--);
font-size: 35px;
font-weight: 800;
letter-spacing: -2px;
margin-bottom: 15px;
}
.contact-content a {
color: var(--main-color--);
text-decoration: none;
font-size: 35px;
font-weight: 800;
}
@media (max-width:767px) {
  .contact-content p,
  .contact-content a {
    font-size: 25px;
  }
}
.contact-content div:last-child {
  margin-top: 15px;
}
.contact-content i {
  margin-left: 10px;
  color: var(--secondary-color--);
}
/* end contact */

/* start footer */
footer {
  text-align: center;
  background-color: var(--secondary-color--);
  padding: 30px;
  color: white;
  font-size: 18px;
}
footer span {
  color: var(--main-color--);
  font-weight: bold;
}
/* end footer */
